@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slide-right {
    animation: slideInRight 0.6s ease-out forwards;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  @apply bg-zinc-50 overflow-auto;  
}
